.main-color {
  /* 100 171 241 */
}

.top-header {
  display: flex;
  width: 100%;
  margin-left: 400px;
  height: 120px;
  justify-content: left;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid rgb(100 171 241);
}
.top-header__title {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1.5rem;
}

.top-header__nav {
  display: flex;
  gap: 12px;
}
.top-header__button {
  border: none;
  background-color: rgb(100 171 241);
  padding: 0.5rem;
  width: 100px;
  border-radius: 10px;
  font-weight: 700;
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(100 171 241);
  height: 100%;
  width: 400px;
  padding: 30px;
  box-sizing: border-box;
  font-weight: 700;
}

.aside-profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  gap: 5px;
}

.profil-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profil-text {
  font-size: 12px;
  opacity: 0.8;
}

.horizontality-line {
  color: white;
}

.aside-info__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  gap: 2rem;
}

.aside-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 10px 0 0 400px;
  padding: 1rem;
}

.section {
  margin-top: 1.5rem;
}
.section-title {
  border: 1px solid rgb(100 171 241);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  padding: 3px;
}

.section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 20px;
}

.project {
  border: 1px solid black;
  width: 400px;
  height: 150px;
}
